<template name="submitVideo">
	<form class="main">
		<div class="control-group">
			<label for="url" class="control-label">Youtube URL</label>
			<div class="controls"><input type="text" name="url" value="" placeholder="Youtube URL" /></div>
		</div>
		<div class="control-group">
			<label for="description" class="control-label">Description</label>
			<div class="controls"><textarea name="message" value="" type="text" /></div>
		</div>
		<div class="control-group">
			<div class="controls"><input type="submit" value="Submit" class="btn btn-primary" /></div>
		</div>
	</form>
</template>